header{
    background-color: #333;
    padding: 15px 20px;
    
}
.container{
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
    position: relative;
    
}

header .container{
    display: flex;
    justify-content: space-between;
    
}

header .container nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    align-self: center;
    
}

header .container nav a{
    color: #fafafa;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 10px
}
main .container{
    background-image: url("../img/bg-intro.jpg");
    height: 435px;
    max-width: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fafafa;    
}

.segundaSecao{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;    
}

.segundaSecao .mistura{
    font-size: 30px;
    font-weight: bolder; 
}
.ingredientes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.ingredientes p {
    /* display: inline-block; */
    background-color: rgb(41, 40, 40);
    color: #fafafa;
    padding: 6px;
    margin: 10px 50px;
    
}

.amor {
    background-image: url("../img/cafe-1.jpg");
}

.perfeicao{
    background-image: url(../img/cafe-2.jpg);
}